<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
         <!-- <img src="https://i.pinimg.com/originals/d7/66/a2/d766a25680af6ff2db0be9171df26925.jpg"> -->
        </div>
    </div>

  </body>

</html>
