name: Spring-Petclinic.GCR.AKS

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - master

jobs:
  GCR_Push:
   name: build and push to GCR
   runs-on: ubuntu-latest
   steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1.4.3
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build with Maven
      run: mvn -B package --file pom.xml -DskipTests
           
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}
        
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y.%m.%d')"

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ghcr.io/phanindrareddyp/petclinic:latest
          ghcr.io/phanindrareddyp/petclinic:${{ steps.date.outputs.date }}.${{ github.run_number }}
          
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
